<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Thymeleaf学习示例</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
  <script th:src="@{/static/js/common.js}"></script>
  <script th:src="@{/static/layui/layui.js}"></script>
  <script th:src="@{/static/jquery/jquery-3.3.1.min.js}"></script>
  <script th:src="@{/static/jquery/jquery.form.js}"></script>
</head>
<script>
  var contextPath = "[[${#servletContext.contextPath}]]";
</script>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div th:replace="layout/header :: header">
  </div>

  <div th:replace="layout/left :: left">默认左侧菜单栏</div>
  <div class="layui-body" layout:fragment="content">

  </div>

  <div th:replace="layout/footer :: footer">&copy; 2017 The Static Templates</div>
</div>
</body>
</html>