<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Thymeleaf学习示例</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" th:href="@{{path}/static/layui/css/layui.css(path=${#servletContext.contextPath})}">
  <script th:src="@{{path}/static/layui/layui.js(path=${#servletContext.contextPath})}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div th:replace="layout/header :: header">
  </div>

  <div th:replace="layout/left :: left">默认左侧菜单栏</div>
  <div class="layui-body">
    <div style="padding: 15px;" layout:fragment="content">

    </div>
  </div>

  <div th:replace="layout/footer :: footer">&copy; 2017 The Static Templates</div>
</div>
</body>
</html>